<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Delete <%=artist.artist_name %></title>
</head>
<body>
  <nav>
    <button><a href="/">Home</a></button>
    <button><a href="/artist/<%=id%>">Back</a></button>
  </nav>
  <p><% id %></p>
  <%- include("errors.ejs") %>
  <form method="post" action="/deleteartist/<%=id %>">
    <label>Enter password to delete artist <%=artist.artist_name %>
      <input type="password" name="password">
    </label>
    <button type="submit">Delete</button>
  </form>
</body>
</html>